header {
    background-color: #38c18f;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

header, p {
    font-family: 'Courier New', Courier, monospace;
    color: beige;
}

body {
    background-color: #29936c;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.item {
    background-color: rgb(153, 153, 153);
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em rgb(69, 69, 69);
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em #aaa;
}

.item.completed {
    text-decoration: line-through;
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
}